<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>
    {% include "watermark/myinclude/css.html" %}

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-info bg-info ">
    <div class="container ">

      <a class="navbar-brand text-light" href="#">Watermark</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link text-light" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Link</a>
          </li>
        </ul>
      </div>


    </div>
  </nav>

{% block container %}

{% endblock %}

{% include "watermark/myinclude/js.html" %}
</body>
</html>