{% extends "watermark/bash.html" %} {# django inheriting watermark/bash.html #}

{% block container %}  {# this Conten gode in this block of bash.html  #}

        <div class="container">
            <h1>hjjjjjjjjjjjjjjjjjjjjjjjjjjk</h1>
             <div class="row justify-content-center align-items-center">

                 <div class="col-8">
                     <br>
                     <img src="C:\Users\saumy\Desktop\New folder\testr\cheeg.jpeg" width="650px" height="450px" class="img-fluid img-thumbnail" alt="Responsive image ">
                 </div>

             </div>



        </div>
{% endblock %}